body {
    font-family:Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 960px;
    margin: 15px auto;
    text-align: center;
}

.container {
    border: 2px solid black;
    display: none;
    padding: 5px;
    margin: 0 auto;
}

.box {
    border: 2px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 1px;
}

.row {
    clear: both;
    margin: -8px;
}

.button {
	margin: 15px;
}

.clearfix {
    clear: both;
}
